<div style="text-align: center;" *ngIf="!loading">
  <h1>Loading...</h1>
</div>

<div class="main" *ngIf="loading">
  <app-messenger></app-messenger>
  <img class="bg-water" src="assets/images/bg-water.svg" alt="">
  <div class="main-left">
    <img class="image-address" src="assets/images/image-address-4.jpg" alt="image-service">
    <img class="image-opacity" src="assets/images/image-address-hospital-background.svg" alt="image-service">
    <div class="main-left-text service">
      <h5>ອູ່ສ້ອມແປງ</h5>
      <p>ເຕັມທີ່ກັບທຸກ Life Style
        ເອັສທີ-ເມືອງໄທ ປະກັນໄພ
        ພ້ອມໃຫ້ບໍລິການ</p>
    </div>
  </div>
  <div class="main-right">
    <div class="main-right-content">
      <div class="list-nav">
        <li><a routerLink="/">ໜ້າຫຼັກ</a></li>
        <li><a>ບໍລິການ</a></li>
        <li><a>ອູ່ສ້ອມແປງ</a></li>
      </div>
      <h2>ອູ່ສ້ອມແປງ</h2>
      <div class="content">
        <div class="content-service-body">
          <div class="content-img">
            <img [src]="imageMapUrl" alt="service-image">
          </div>
          <div class="content-province">
            <div class="content-province-lists">
              <div class="province-list-item" *ngFor="let item of dataProvince">
                <a class="province-list-item-product {{activeItem === item.prov_cd ? 'active' : ''}}"
                  (click)="loadLaoByProv(item.prov_cd)">
                  <img src="assets/icons/icon-address.svg" alt="service-image">
                  <p>{{item.prov_name_la}}</p>
                </a>
              </div>
            </div>

            <div class="content-province-detail">
              <div class="province-detail-item" *ngFor="let item of dataLaoByProvCountry">
                <h4>{{item.location_name_la}}</h4>
                <div class="province-detail-item-address">
                  <img src="assets/icons/icon-home-service-page.svg" alt="service-image">
                  <p>
                    {{item.Village == null ? "" :"ບ້ານ"}}
                    {{item.Village == null ? "" :item.Village.vill_name_la +","}}
                    {{item.District == null ? "" :"ເມືອງ"}}
                    {{item.District == null ? "" :item.District.dist_name_la + ","}}
                    {{item.Province == null ? "" :"ແຂວງ"}}
                    {{item.Province == null ? "" : item.Province.prov_name_la}}
                  </p>
                </div>
                <div class="province-detail-item-address">
                  <img *ngIf="item.tel != ''" src="assets/icons/icon-phone-smal-service-page.svg" alt="service-image">
                  <p>{{item.tel}}{{item.phone == null || item.phone == '' ? "":", " + item.phone}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="advert-all">
  <img src="assets/images/image-advert-all.svg" alt="service-image">
</div> -->
<app-advert></app-advert>