<div class="main">
  <app-messenger></app-messenger>
  <img class="bg-water" src="assets/images/bg-water.svg" alt="" />
  <div class="main-left">
    <img class="image-address" src="assets/images/contact/imag-contact-left-bg.jpg" alt="image-service" />
    <img class="image-opacity" src="assets/images/image-address-hospital-background.svg" alt="image-service" />
    <div class="main-left-text vision">
      <h5>ຕິດ​ຕໍ່​ພວກ​ເຮົາ</h5>
    </div>
  </div>
  <div class="main-right">
    <div class="main-right-content">
      <div class="list-nav">
        <li><a routerLink="/">ໜ້າຫຼັກ</a></li>
        <li><a>ຕິດ​ຕໍ່​ພວກ​ເຮົາ</a></li>
      </div>
      <h2>ຕິດ​ຕໍ່​ພວກ​ເຮົາ</h2>
      <div class="content">
        <div class="content-contact">
          <div class="content-contact-address">
            <a class="content-contact-address-card" target="_blank"
              href="https://www.google.com/maps/place/%E0%BA%81%E0%BA%B8%E0%BB%88%E0%BA%A1+%E0%BA%9A%E0%BB%8D%E0%BA%A5%E0%BA%B4%E0%BA%AA%E0%BA%B1%E0%BA%94+ST+%E0%BA%88%E0%BA%B3%E0%BA%81%E0%BA%B1%E0%BA%94/@17.9709893,102.5671514,17z/data=!3m1!4b1!4m6!3m5!1s0x312469a85507a1e9:0x32f81164276dd11a!8m2!3d17.9709893!4d102.5671514!16s%2Fg%2F11r9t9np5?authuser=0&entry=ttu">
              <h3>
                ບໍລິ​ສັດ ເອັສທີ - ເມືອງໄທ ປະກັນໄພ ຈຳກັດ (ນະຄອນຫລວງວຽງຈັນ).
              </h3>
              <p>
                ອາຄານ ເອັສທີ ກຣຸບ, ຊັ້ນ 3, ເຮືອນເລກທີ 02, ຖະໜົນ ສຸພານຸວົງ, ບ້ານ
                ເມືອງວາທ່າ, ເມືອງ ສີໂຄດຕະບອງ, ນະຄອນຫລວງວຽງຈັນ, ສປປ ລາວ.
              </p>
            </a>
            <a class="content-contact-address-card" target="_blank"
              href="https://www.google.com/maps/place/ST+Bank+,Savannakhet+Branch/@16.5579173,104.7452121,17z/data=!3m1!4b1!4m6!3m5!1s0x313dc605f61c7d07:0xb7bb6785e916ee8!8m2!3d16.5579173!4d104.7452121!16s%2Fg%2F1hm3vvqcw?hl=th-LA&entry=ttu">
              <h3>
                ບໍລິ​ສັດ ເອັສທີ - ເມືອງໄທ ປະກັນໄພ ຈຳກັດ (ແຂວງ ສະຫວັນນະເຂດ).
              </h3>
              <p>ບ້ານ ໄຊຍະພູມ, ເມືອງ ນະຄອນໄກສອນ, ແຂວງ ສະຫວັນນະເຂດ, ສປປ ລາວ.</p>
            </a>
          </div>
          <a target="_blank"
            href="https://www.google.com/maps/place/%E0%BA%81%E0%BA%B8%E0%BB%88%E0%BA%A1+%E0%BA%9A%E0%BB%8D%E0%BA%A5%E0%BA%B4%E0%BA%AA%E0%BA%B1%E0%BA%94+ST+%E0%BA%88%E0%BA%B3%E0%BA%81%E0%BA%B1%E0%BA%94/@17.9709893,102.5671514,17z/data=!3m1!4b1!4m6!3m5!1s0x312469a85507a1e9:0x32f81164276dd11a!8m2!3d17.9709893!4d102.5671514!16s%2Fg%2F11r9t9np5?authuser=0&entry=ttu">
            <img src="assets/images/contact/image-contact-map.jpg" alt="image-contact" class="content-contact-map" />
          </a>
          <div class="content-contact-info">
            <div class="content-contact-info-social">
              <div class="content-contact-info-social-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <p>(+856) 21 253079 (ນະຄອນຫລວງວຽງຈັນ)</p>
              </div>
              <div class="content-contact-info-social-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <p>041 215 588 (ສະຫວັນນະເຂດ)</p>
              </div>
              <div class="content-contact-info-social-item">
                <img src="assets/images/icon-facebook.svg" alt="image-contact" />
                <p>facebook.com/STMTI</p>
              </div>
              <div class="content-contact-info-social-item">
                <img src="assets/images/icon-message.svg" alt="image-contact" />
                <p>info&#64;stmuangthai.com</p>
              </div>
              <div class="content-contact-info-social-item">
                <img src="assets/images/icon-print.svg" alt="image-contact" />
                <p>(+856) 21 253159</p>
              </div>
            </div>

            <div class="content-contact-info-call">
              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ຝ່າຍຂາຍຊ່ອງທາງຕົວແທນ</h3>
                  <p>020 5445 1234</p>
                </div>
              </div>

              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ຝ່າຍຂາຍຊ່ອງຄູ່ຮ່ວມທຸລະກິດ</h3>
                  <p>020 5445 4123</p>
                </div>
              </div>

              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ຝ່າຍຂາຍຊ່ອງທາງສູນຈຳໜ່າຍລົດ</h3>
                  <p>020 5499 3123</p>
                </div>
              </div>

              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-small.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ຝ່າຍຂາຍຊ່ອງທາງຂາຍຕົງ</h3>
                  <p>020 5445 1234</p>
                </div>
              </div>
            </div>

            <div class="content-contact-info-call">
              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-contact.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ແກ້ໄຂອຸປະຕິເຫດ ປະກັນທົ່ວໄປ</h3>
                  <p>020 5416 1234, 020 5417 1234</p>
                </div>
              </div>

              <div class="content-contact-info-call-item">
                <img src="assets/images/icon-phone-contact.svg" alt="image-contact" />
                <div class="content-contact-info-call-item-detail">
                  <h3>ສິນໄໝປະກັນຊີວິດ</h3>
                  <p>020 5445 1234</p>
                </div>
              </div>
            </div>
          </div>

          <form class="content-contact-form" (submit)="submit()" [formGroup]="form">
            <h3>ຕິດ​ຕໍ່</h3>
            <div class="row">
              <div class="input-group custom-select">
                <select class="form-control" placeholder="ຕິດ​ຕໍ່ຫາ" formControlName="contact_phone">
                  <option value="">ຕິດ​ຕໍ່ຫາ</option>
                  <!-- <option value="02054451234">020 5445 1234</option>
                  <option value="02054454123">020 5445 4123</option>
                  <option value="02054993123">020 5499 3123</option>
                  <option value="02054161234">020 5416 1234</option> -->
                  <optgroup label="ຝ່າຍຂາຍຊ່ອງທາງຕົວແທນ">
                    <option value="02054451234">020 5445 1234</option>
                  </optgroup>
                  <optgroup label="ຝ່າຍຂາຍຊ່ອງຄູ່ຮ່ວມທຸລະກິດ">
                    <option value="02054454123">020 5445 4123</option>
                  </optgroup>
                  <optgroup label="ຝ່າຍຂາຍຊ່ອງທາງສູນຈຳໜ່າຍລົດ">
                    <option value="02054993123">020 5499 3123</option>
                  </optgroup>
                  <optgroup label="ແກ້ໄຂອຸປະຕິເຫດ ປະກັນທົ່ວໄປ">
                    <option value="02054161234">020 5416 1234</option>
                  </optgroup>
                </select>
                <img src="assets/icons/icon-down.svg" alt="icon" class="icon-down" />
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="fullName" placeholder="ຊື່ ແລະ ນາມສະກຸນ" />
              </div>
            </div>

            <div class="row">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="cusPhone" placeholder="ເບີໂທ" />
              </div>
              <div class="input-group">
                <input type="email" class="form-control" formControlName="email" placeholder="ອີເມວ" />
              </div>
            </div>

            <div class="row">
              <div class="input-group">
                <textarea class="form-control textarea" formControlName="des" rows="6" placeholder="ຂໍ້ຄວາມ"></textarea>
              </div>
            </div>
            <div *ngIf="showButton" style="display: flex; align-items: center; justify-content: center;">
              <re-captcha (resolved)="resolved($event)" siteKey={{sitekey}}>
              </re-captcha>
            </div>
            <div class="form-btn">
              <button type="submit" class="btn btn-submit" [disabled]="showButton">ສົ່ງ</button>
              <button type="button" class="btn btn-cancel" (click)="clearForm()">
                ຍົກເລີກ
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="advert-all">
  <img src="assets/images/image-advert-all.svg" alt="service-image">
</div> -->
<app-advert></app-advert>
