<div class="main">
  <app-messenger></app-messenger>
  <img class="bg-water" src="assets/images/bg-water.svg" alt="" />
  <div class="main-left">
    <img
      class="image-address"
      src="assets/images/about/image-about-left.jpg"
      alt="image-service"
    />
    <img
      class="image-opacity"
      src="assets/images/image-address-hospital-background.svg"
      alt="image-service"
    />
    <div class="main-left-text">
      <h5>ປະຫວັດຄວາມເປັນມາ</h5>
    </div>
  </div>
  <div class="main-right">
    <div class="main-right-content">
      <div class="list-nav">
        <li><a routerLink="/">ໜ້າຫຼັກ</a></li>
        <li><a>ກ່ຽວ​ກັບ​ເຮົາ​</a></li>
        <li><a>ປະຫວັດຄວາມເປັນມາ​</a></li>
      </div>
      <h2>ປະຫວັດຄວາມເປັນມາ​</h2>
      <div class="content">
        <div class="content-about">
          <div class="content-about-header">
            <div style="display: flex" class="about-page-z-i">
              <img
                class="content-about-header-image"
                src="assets/images/DSC_3803.jpg"
                alt="image-about"
              />
            </div>
            <img
              class="content-about-header-image-water"
              src="assets/images/about/image-about-water-right.svg"
              alt="image-about"
            />
            <div class="content-about-header-content">
              <h1>ບໍລິສັດ ເອັສທີ - ເມືອງໄທ ປະກັນໄພ ຈຳກັດ</h1>
              <h3>ສ້າງຕັ້ງເມື່ອ:</h3>
              <p>16 july 2016</p>
              <h3>ຈົດຖະບຽນ:</h3>
              <p>ປະກັນຊີວິດ Life Insurance</p>
              <p>ປະກັນທົ່ວໄປ General Insurance</p>
            </div>
          </div>

          <div class="content-about-body">
            <img
              class="content-about-body-image"
              src="assets/images/about/image-about-right-2.svg"
              alt="image-about"
            />
            <div class="content-about-body-cards">
              <div class="content-about-body-cards-all">
                <div class="content-about-body-card">
                  <div class="content-about-body-card-header">
                    <img
                      class="content-about-body-card-header-image"
                      src="assets/images/about/image-about-person-1.png"
                      alt="image-about"
                    />
                    <h3>ທ່ານ ສີທັດ ໄຊສຸລິວົງ</h3>
                  </div>
                  <a
                    class="content-about-body-card-image-logo-all"
                    target="_blank"
                    href="https://www.stbanklaos.la"
                  >
                    <img
                      class="content-about-body-card-image-logo"
                      src="assets/images/about/image-logo-about-conpany-1.png"
                      alt="image-about"
                    />
                  </a>
                </div>
                <div class="content-about-body-card">
                  <div class="content-about-body-card-header">
                    <img
                      class="content-about-body-card-header-image"
                      src="assets/images/about/image-about-person-2.png"
                      alt="image-about"
                    />
                    <h3>ທ່ານ ສາຣະ ລໍ່າຊຳ</h3>
                  </div>
                  <a
                    class="content-about-body-card-image-logo-all"
                    target="_blank"
                    href="https://www.muangthai.co.th"
                  >
                    <img
                      class="content-about-body-card-image-logo"
                      src="assets/images/about/image-logo-about-conpany-2.svg"
                      alt="image-about"
                    />
                  </a>
                </div>
                <div class="content-about-body-card">
                  <div class="content-about-body-card-header">
                    <img
                      class="content-about-body-card-header-image"
                      src="assets/images/about/image-about-person-3.png"
                      alt="image-about"
                    />
                    <h3>ທ່ານ ນາງ ນວນພັນ ລໍ່າຊຳ</h3>
                  </div>
                  <a
                    class="content-about-body-card-image-logo-all"
                    target="_blank"
                    href="https://www.muangthaiinsurance.com"
                  >
                    <img
                      class="content-about-body-card-image-logo"
                      src="assets/images/about/image-logo-about-conpany-3.svg"
                      alt="image-about"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="content-about-footer">
            <h1>
              ບໍລິສັດ ເອັສທີ-ເມືອງໄທ ປະກັນໄພ ຈຳກັດ
              <span>ບໍລິສັດຮ່ວມທຶນລະຫວ່າງ ປະເທດລາວ ແລະ ປະເທດໄທ</span>
            </h1>

            <div class="content-about-footer-text">
              <span
                ><img
                  src="assets/images/about/image-about-dot.svg"
                  alt="image-about"
              /></span>
              <h3>
                ສປປ. ລາວ ບໍລິສັດ ເອັສທີ ກຣຸບ ຈຳກັດຜູ້ດຽວ ເຊິ່ງບໍລິຫານງານໂດຍ ທ່ານ
                ສີທັດ ໄຊສຸລິວົງ ໂດຍມີທຸລະກິດຫຼາກຫຼາຍເຊັ່ນ:
              </h3>
            </div>
            <div class="content-about-footer-text">
              <li>
                - ທະນາຄານ ເອັສທີ ຈຳກັດ, ບໍລິສັດ ຄັງເຊັນ, ທຸລະກິດກໍ່ສ້າງ,
                ທຸລະກິດບັນເທິງ, ທຸລະກິດນຳເຂົ້າເຄື່ອງດື່ມ M150, Spy ແຕ່ພຽງຜູ້ດຽວ
              </li>
            </div>
            <div class="content-about-footer-text">
              <span
                ><img
                  src="assets/images/about/image-about-dot.svg"
                  alt="image-about"
              /></span>
              <h3>
                ປະເທດໄທ ບໍລິສັດ ເມືອງໄທປະກັນຊີວິດ ຈຳກັດ ມະຫາຊົນ ບໍລີຫານງານໂດຍ
                ທ່ານ ສາຣະ ລໍ່າຊຳ ເປັນບໍລິສັດທີ່ດຳເນີນທຸລະກິດມາເປັນເວລາ 72 ປີ
                ໄດ້ຮັບລາງວັນການບໍລີຫານງານດີເດັ່ນຕິດຕໍ່ກັນ 16 ປີ
              </h3>
            </div>
            <div class="content-about-footer-text">
              <span
                ><img
                  src="assets/images/about/image-about-dot.svg"
                  alt="image-about"
              /></span>
              <h3>
                ບໍລິສັດ ເມືອງໄທປະກັນໄພ ຈຳກັດມະຫາຊົນ ບໍລີຫານງານໂດຍ ທ່ານ ນາງ
                ນວນພັນ ລໍ່າຊຳ ດຳເນີນທຸລະກິດມາເປັນເວລາ 91 ປີ ເປັນບໍລິສັດ
                ປະກັນໄພອັນດັບ 5 ຈາກທັງໝົດຂອງ 55 ບໍລິສັດ ປະກັນໄພໃນປະເທດໄທ.
              </h3>
            </div>
            <div class="content-about-footer-text">
              <span
                ><img
                  src="assets/images/about/image-about-dot.svg"
                  alt="image-about"
              /></span>
              <h3>
                ທັງ 3 ບໍລິສັດ ໄດ້ສ້າງຕັ້ງບໍລີສັດ ເອັສທີ-ເມືອງໄທ ປະກັນໄພ ຈຳກັດ
                ເພື່ອສ້າງປະໂຫຍດໃຫ້ແກ່ປະຊາຊົນໃນ ສປປ. ລາວ ໃຫ້ມີເງິນເກັບອອມ,
                ມີຄວາມຄຸ້ມຄອງ ແລະ ມີສະຫວັດດີການທີ່ດີໂດຍມີທຶນຈົດທະບຽນ 60,727
                ລ້ານກີບ.
              </h3>
            </div>
            <div class="content-about-footer-text">
              <span
                ><img
                  src="assets/images/about/image-about-dot.svg"
                  alt="image-about"
              /></span>
              <h3>
                ປັດຈຸບັນດຳເນີນທຸລະກິດເຂົ້າສູ່ປີທີ 6 ແລະ
                ຢູ່ພາຍໃຕ້ກະຊວງກາານເງິນເປັນຜູ້ຄວບຄຸມການດຳເນີນ ທຸລະກິດ.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
