<div class="main">
  <app-messenger></app-messenger>
  <img class="bg-water" src="assets/images/bg-water.svg" alt="" />
  <div class="main-left">
    <img
      class="image-address"
      src="assets/images/about/image-about-left.jpg"
      alt="image-service"
    />
    <img
      class="image-opacity"
      src="assets/images/image-address-hospital-background.svg"
      alt="image-service"
    />
    <div class="main-left-text vision">
      <h5>ວິໄສທັດ</h5>
    </div>
  </div>
  <div class="main-right">
    <div class="main-right-content">
      <div class="list-nav">
        <li><a routerLink="/">ໜ້າຫຼັກ</a></li>
        <li><a>ກ່ຽວ​ກັບ​ເຮົາ​</a></li>
        <li><a>ວິໄສທັດ</a></li>
      </div>
      <h2>ວິໄສທັດ</h2>
      <div class="content">
        <div class="content-about">
          <div class="content-about-header">
            <!-- <img class="content-about-header-image" src="assets/images/about/image-about-right.jpg" alt="image-about"> -->
            <img
              class="content-about-header-image"
              src="assets/images/DSC_3803.jpg"
              alt="image-about"
            />
          </div>
          <h3 class="content-about-text">
            ຜູ້ນໍາໃນທຸລະກິດປະກັນໄພ
            ເປົ້າຫມາຍຕົ້ນຕໍຂອງພວກເຮົາຜູ້ທີ່ຕ້ອງການທີ່ຈະປະສົບຜົນສໍາເລັດ ແລະ
            ຄວາມກ້າວຫນ້າຕ້ອງກຽມພ້ອມຕະຫຼອດເວລາ
            ບໍ່ມີໃຜເຮັດໃຫ້ເຮົາກ້າວໜ້າໄດ້ນອກຈາກຕົວເຮົາເອງ
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
